.taskList {
    float:left;
    position:relative;
    margin: 0 auto;
    margin:0 55px 70px 55px;
    text-align:center;
    font-size: 25px;
    width: 350px;
    font-family: 'Open Sans', sans-serif;
    padding: 15px 15px 0 15px;
    background-color: #8FE48A;
    border: 2px solid #3BC433;
    border-radius: 6px;
}

.title {
    text-align: left;
}

.add {
    margin: 0px auto;
    margin-top: 10px;
    border: 0;
    box-shadow: none;
    font-size: 30px;
    float: bottom;
}

.btn {
    float: right;
    font-size: 20px;
    padding-right: 4px;
}

.heading {
    padding-bottom: 5px;
}