#subInput {
    height: 26px;
    text-align: center;
    padding: 5px;
}

#subInput>input {
    
    height: 20px;
    font-size: 15px;
    margin: 0px auto;
    float: left;
}

subAdd {
    text-align: right;
    padding: 5px;
}
